/* 24 */
@import './common/contrant.scss';

/** 代码修饰器 **/
.#{$HOST}-code{position: relative; margin: 10px 0; padding: 15px; line-height: 20px; border: 1px solid #ddd; border-left-width: 6px; background-color: #F2F2F2; color: #333; font-family: Courier New; font-size: 12px;}
