/* 27 */
@import './common/contrant.scss';

/** 滑块 By star1029 **/
.#{$HOST}-slider{height: 4px; background: #e2e2e2; border-radius: 3px; position: relative; cursor: pointer;}
.#{$HOST}-slider-bar{border-radius: 3px; position: absolute; height: 100%;}
.#{$HOST}-slider-step{position: absolute; top: 0; width: 4px; height: 4px; border-radius: 50%; background: #FFF; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.#{$HOST}-slider-wrap{width: 36px; height: 36px; position: absolute; top: -16px; -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 10; text-align: center;}
.#{$HOST}-slider-wrap-btn{width: 12px; height: 12px; border-radius: 50%; background: #FFF; display: inline-block; vertical-align: middle; cursor: pointer; transition: 0.3s;}
.#{$HOST}-slider-wrap:after{content: ""; height: 100%; display: inline-block; vertical-align: middle;}
.#{$HOST}-slider-wrap-btn:hover,
.#{$HOST}-slider-wrap-btn.#{$HOST}-slider-hover{transform: scale(1.2);}
.#{$HOST}-slider-wrap-btn.#{$HOST}-disabled:hover{transform: scale(1) !important;}
.#{$HOST}-slider-tips{position: absolute; top: -42px; z-index: 66666666; white-space:nowrap; display: none; -webkit-transform: translateX(-50%); transform: translateX(-50%); color: #FFF; background: #000; border-radius: 3px; height: 25px; line-height: 25px; padding: 0 10px;}
.#{$HOST}-slider-tips:after{content: ''; position: absolute; bottom: -12px; left: 50%; margin-left: -6px; width: 0; height: 0; border-width: 6px; border-style: solid; border-color: #000 transparent transparent transparent;}
.#{$HOST}-slider-input{width: 70px; height: 32px; border: 1px solid #e6e6e6; border-radius: 3px; font-size: 16px; line-height: 32px; position: absolute; right: 0; top: -15px;}
.#{$HOST}-slider-input-btn{display: none; position: absolute; top: 0; right: 0; width: 20px; height: 100%; border-left: 1px solid #d2d2d2;}
.#{$HOST}-slider-input-btn i{cursor: pointer; position: absolute; right: 0; bottom: 0; width: 20px; height: 50%; font-size: 12px; line-height: 16px; text-align: center; color: #999;}
.#{$HOST}-slider-input-btn i:first-child{top: 0; border-bottom: 1px solid #d2d2d2;}
.#{$HOST}-slider-input-txt{height: 100%; font-size: 14px;}
.#{$HOST}-slider-input-txt input{height: 100%; border: none;}
.#{$HOST}-slider-input-btn i:hover{color: #009688;}
/*垂直滑块*/
.#{$HOST}-slider-vertical{width: 4px; margin-left: 34px;}
.#{$HOST}-slider-vertical .#{$HOST}-slider-bar{width: 4px;}
.#{$HOST}-slider-vertical .#{$HOST}-slider-step{top: auto; left: 0px; -webkit-transform: translateY(50%); transform: translateY(50%);}
.#{$HOST}-slider-vertical .#{$HOST}-slider-wrap{top: auto; left: -16px; -webkit-transform: translateY(50%); transform: translateY(50%);}
.#{$HOST}-slider-vertical .#{$HOST}-slider-tips{top: auto; left: 2px;}
@media \0screen{
  .#{$HOST}-slider-wrap-btn{margin-left: -20px;}
  .#{$HOST}-slider-vertical .#{$HOST}-slider-wrap-btn{margin-left: 0; margin-bottom: -20px;}
  .#{$HOST}-slider-vertical .#{$HOST}-slider-tips{margin-left: -8px;}
  .#{$HOST}-slider > span{margin-left: 8px;}
}