<!--
 * @Descripttion: ilovejwl
 * @version: 1.0.0
 * @Author: ilovejwl
 * @Date: 2019-12-22 13:06:48
 * @LastEditTime : 2020-01-22 16:07:01
 * @LastEditors  : ilovejwl
 -->
<meta charset="UTF-8">
<title>aiyou-admin v1.0| 奇迹的前、后台模版 - 登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="aiyou-admin v1.0,aiyou-admin网站前、后台模版,前、后台模版下载,前、后台管理系统模版,HTML前、后台模版下载">
<meta name="description"
    content="aiyou-admin v1.0，顾名思义，奇迹的前、后台模版，它是一款基于Layui框架的中量级扁平化且完全免费开源的网站前、后台管理系统模板，适合小、中型前、前、后台系统。">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="shortcut icon" href="@request(<%'/static/images/favicon.ico'%>)" type="image/x-icon" />
<script src="@request(<%'/static/js/jquery.js'%>)"></script>